body {
    font-family: monospace;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #888;
    padding: 5px;
    border-radius: 4px;
    color: black;
    margin: 5px;
    font-size: 24px;
}

.new-book-form {
    margin: auto;
    display: none;
    text-align: center;
}

.btn {
    text-align: center;
}

button {
    font-family: monospace;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 15px;
    font-size: 24px;
    padding: 3px 8px;
    margin: 6px auto;
}

.error-field {
    border-radius: 4px;
    background-color: rgb(255, 66, 66);
    color: white;
    font-size: 16px;
    padding: 6px 4px;
    width: 500px;
    margin: 3px auto;   
    display: none;
}